@{
    ViewData["Title"] = "Home Page";
	Layout = "_mylayout"; 
}

<style>
	h1 {
		background-color: red;
	}
</style>


<a asp-controller="Home" asp-action="Tabele"> Klinknij tu, aby przejść do Tabele </a>

<h1 style="color:blueviolet;font-size:60px;">Strona główna</h1>

<h4>Mniejszy nagłówek</h4>

<!-- Komentarz -->

<p> <b>Lorem ipsum</b> dolor sit amet, consectetur adipiscing elit. Mauris turpis dui, sagittis et tortor at, consequat pharetra eros. Etiam quis neque eget sapien suscipit consectetur non sit amet justo. Proin a ex non dui tempus congue. <i>Donec facilisis</i>, ipsum eu tempus blandit, magna arcu pulvinar mauris, sit amet commodo eros nibh quis tellus. Nullam iaculis malesuada urna vel sagittis. <br /> <u>Vestibulum aliquam, lorem sed sagittis tempus, urna nulla convallis purus, eu mollis quam diam ac orci.</u> Cras in luctus libero. Morbi neque nibh, dapibus placerat dolor at, pulvinar consequat turpis. <s>Cras quis tincidunt lacus.</s> Nunc eu scelerisque neque, ut maximus risus. <hr /> In dolor massa, pretium sit amet viverra a, dapibus a ligula. <mark>Suspendisse varius</mark>, libero at faucibus finibus, sapien est laoreet lorem, quis viverra enim urna non turpis. </p>

P<sub>kwadratu</sub> = a<sup>2</sup>
<br />



<a href="https://informatyka.ukw.edu.pl//jednostka/wydzial-informatyki/">
	<img width="100px" src="https://cdn.pixabay.com/photo/2023/11/21/19/47/fall-8404115_1280.jpg" />
</a>
<br />
<iframe width="100%" height="300px" src="https://informatyka.ukw.edu.pl/jednostka/wydzial-informatyki/informacje/61708/harmonogram-dyzurow-dydaktycznych">


</iframe>

<iframe src="https://pl.wikipedia.org/wiki/Kot_domowy">

</iframe>