
<div id="listy">
	<ol>
		<li> Piotr Kowalski </li>
		<li> Małgorzata Zdun </li>
		<li> Sebastian Pietrykowski </li>
	</ol>
	<hr>
	<ul>
		<li> CV </li>
		<li> List motywacyjny </li>
		<li>
			Załączniki:
			<ol>
				<li> Certyfikaty </li>
				<li> Świadectwo pracy </li>
				<li> Dyplom ukończenia studiów </li>
			</ol>
		</li>
	</ul>
	<hr>
</div>
<div id="formularze">
	<hr />
	<hr />
	<form>
		<fieldset>
			<legend>Osoba</legend>
			<label for="imie">Imie: </label>
			<input type="text" id="imie">
			<label for="nazwisko">Nazwisko: </label>
			<input type="text" id="nazwisko">
		</fieldset>
		<label for="data-ur">Data urodzenia:</label>
		<input type="date" id="data-ur">
		<button type="reset">Resetuj</button>
		<button type="submit">Wyślij</button>
	</form>
	<hr>
	<hr>
	<h1>Aplikuj już dziś</h1>
	<hr>
</div>
