

<h1 class="komorki"> Tabelki podstrona </h1>

<table border="1">
	<caption>Podpis tabeli</caption>
	<thead>
		<tr>
			<th>A</th>
			<th class="komorki" id="b" style="background-color: black;">B</th>
			<th>C</th>
			<th>D</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td rowspan="3">11111111x</td>
		<td>2</td>
			<td class="komorki" colspan="2" rowspan="2">3</td>
	</tr>
	<tr>
		<td>6</td>
	</tr>
	<tr>
		<td>8</td>
		<td>9</td>
			<td class="komorki">9</td>
	</tr>
	</tbody>
</table>