h1 {
    color: red;
    background-color: aquamarine;
}

input {
    color: pink;
}



#123 {
    text-align: center;
    font-size: 30px;
}

.komorki {
    background-color: lightblue;
}

#b {
    background-color: greenyellow;
}



td, th {
   background-color: pink;
   color: rebeccapurple;
}

th {
    color: red;
}

/* Selektory proste */
/* Id, klasa, element */
/* inline > Id > element z klasy > klasa > element */
/* grupa selektorów = pojedynczy selektor */
/* element z klasy */
/* uniwersalny => * (gwiazdka) */

td.komorki {
    width: 30px;
    background-color: yellow;
}

input {
    cursor: crosshair;
}

table {
    margin: 10px;
    margin-top: 40px;
    border-style: dotted;
}

td {
    padding: 5px;
    border: dashed 3px red;
}

* {
    background-color: antiquewhite;
}

/* Selektory kombinatoryczne */
/* relacja zstępna */
/* potomka (spacja), dziecka (>) */

ul > li {
    background-color: greenyellow;
}

form input {
    font-size: 40px;
}

/* relacja rodzeństwa */
/* sąsiedni selektor rodzeństwa (+) , ogólny selektor rodzeństwa (~) */

form ~ hr {
    border: 1px dashed red;
}

#listy > hr {
    border: 2px dotted green;
}