h1 {
    color: red;
    background-color: aquamarine;
}

input {
    color: pink;
}



#123 {
    text-align: center;
    font-size: 30px;
}

.komorki {
    background-color: lightblue;
}

#b {
    background-color: greenyellow;
}



td, th {
   background-color: pink;
   color: rebeccapurple;
}

th {
    color: red;
}

/* Selektory proste */
/* Id, klasa, element */
/* inline > Id > element z klasy > klasa > element > uniwersalny */
/* grupa selektorów = pojedynczy selektor */
/* element z klasy */
/* uniwersalny => * (gwiazdka) */

td.komorki {
    width: 30px;
    background-color: yellow;
}

input {
    cursor: crosshair;
}

table {
    margin: 10px;
    margin-top: 40px;
    border-style: dotted;
}

td {
    padding: 5px;
    border: dashed 3px red;
}

* {
    background-color: antiquewhite;
}

/* Selektory kombinatoryczne */
/* relacja zstępna */
/* potomka (spacja), dziecka (>) */

ul > li {
    background-color: greenyellow;
}

form input {
    font-size: 40px;
}

/* relacja rodzeństwa */
/* sąsiedni selektor rodzeństwa (+) , ogólny selektor rodzeństwa (~) */

form ~ hr {
    border: 1px dashed red;
}

#listy > hr {
    border: 2px dotted green;
}

/* Selektory pseudoklas */
ol > li:hover {
    color: cadetblue;
}

#email:hover {
    background-color: black;
    color: white;
}

#email:focus {
    background-color: green;
}

input:required {
    border: solid 5px red;
}

input:checked {
    font-size: 40px;
    color: red;
}

ul > li:first-child {
    color: darkgreen;
}

:link {

}

:visited {

}

/* Selektory pseudo-elementów */
li::selection {
    background-color: aquamarine;
    color: white;
}

ol > li::marker {
    font-size: 40px;
    color: hotpink;
}

ol > li:first-child::first-letter {
    font-size: 60px;
    color: red;
}

/* Selektory atrybutów */
/* = dokładnie taka wartość */
/* |= zaczyna się od słowa */
/* ^= zaczyna się od ciągu znaków */
/* ~= zawiera słowo */
/* *= zawiera ciąg znaków */
/* $= kończy się ciągiem znaków */

input[type="search"]
{
    background-color: violet;
}