
<!DOCTYPE html> 
<html>
    <head>
        <title>Wprowadzenie HTML</title>

	    <link href="~/css/mojestyle.css" rel="stylesheet" />

        @*tutaj sekcja dla skryptów*@
    </head>
    <body>
	@RenderBody()

    </body>
</html>